<div>
  <label class="text-large" for='communities'>Communities:</label> <input [(ngModel)]='communities'
                                                                          class="form-control narrow" id="communities">
  <br>
  <label class="text-large" for="gender">Gender:</label>
  <br>
  <select [(ngModel)]="gender" class="custom-select narrow" id="gender">
    <option [ngValue]="1">Female</option>
    <option [ngValue]="2">Make</option>
  </select>
  <br>
  <label class="text-large" for='city'>City:</label> <input [(ngModel)]='city'
                                                            class="form-control narrow" id="city">
  <br>
  <button (click)='fetchUsers()' class="btn btn-primary" id='find-button'>Find</button>
</div>
<br>
<div class="narrow rounded-corners" *ngIf="progress > 0">
  <ngb-progressbar type="info" [value]="progress"></ngb-progressbar>
</div>
<div class="grid">
  <div *ngFor='let userDto of userDtos' class="glow rounded-corners">
    <a href='https://vk.com/id{{userDto.data.id}}'>
      <table>
        <tbody>
        <tr>
          <td>
            <img class="rounded-corners" [src]="sanitize(userDto.data.fields['photo_200'])"/></td>
          <td>
            <b>{{userDto.data.fields['first_name']}} {{userDto.data.fields['last_name']}}</b>
            <br>
            <span>City: {{userDto.data.fields['city']}}</span>
            <br>
          </td>
        </tr>
        </tbody>
      </table>
    </a>
  </div>
</div>
