<div>
  <label class="text-large" for='communities'>Communities:</label> <input [(ngModel)]='communities' class="form-control"
                                                                          id='communities'>
  <button (click)='fetchUsers()' class="btn btn-primary" id='find-button'>Find</button>
</div>
<div class="grid">
  <div *ngFor='let user of users | async' class="glow rounded-corners">
    <a href='https://vk.com/id{{user.id}}'>
      <table>
        <tbody>
        <tr>
          <td>
            <img class="rounded-corners" [src]="sanitize(user.fields['photo_200'])"/></td>
          <td>
            {{user.fields['first_name']}} {{user.fields['last_name']}}
            <br>
            <span>City: {{user.fields['city']}}</span>
            <br>
          </td>
        </tr>
        </tbody>
      </table>
    </a>
  </div>
</div>
