.grid {
  display: grid;
  grid-template-columns: 33vmin 33vmin 33vmin;
  grid-template-rows: 33vmin 33vmin 33vmin;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

#communities {
  width: 30%;
  margin: auto;
}

#find-button {
  margin-top: 13px;
  width: 15%;
}

.text-large {
  font-size: xx-large;
}

.rounded-corners {
  border-radius: 20px;
}

.glow:hover {
  background-color: #e6e6e6;
}

a {
  text-decoration: none;
}
